body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        background: rgb(0, 36, 13);
        background: linear-gradient(212deg, rgb(192, 139, 23) 0%, rgb(172, 104, 40) 35%, rgb(165, 142, 13) 100%);
        background-repeat: no-repeat;

        }

.font {
    font-family: 'Syne Mono', monospace;
}

.box {
    margin-top: 10rem;
}

.sign-in {
    display: inline-block;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
}

.sign-out,.favorate{
    display: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
}

.profile{
    float:right;
    margin-right:0.5em;
    width:35px;
    border-radius: 50%;
}