html,
body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  /* background-image: url("./img/background2.jpeg"); */
  /* background-image: url("./img/background2.jpeg"); */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  background-color: rgb(17, 15, 17);
  border: 2px solid black;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(32, 218, 203);
  font-family: "Poppins", sans-serif;
}
.logo {
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 26px;
}
.nav-links {
  display: flex;
  /* background-color: yellow; */
  justify-content: space-around;
  width: 60%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 17px;
}
.burger {
  display: none;
  cursor: pointer;
  z-index: 1;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px;
  transition: all 0.3s ease;
}
/* Example style to check the changes */
.recipe_finder {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
/* Example recipe_box class update for test */
/* .recipe_box {
  width: 20%;
  height: 45px;
  background: yellow;
  opacity: 70%;
  margin: 20px;
  box-sizing: border-box;
  font-size: 30px;
  border-radius: 10%;
  text-align: center;
} */

.main_container {
  position: relative;
  z-index: -1;
}

.search_container {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  @media (min-width: 768px) {
    display: none;
  }
}
#page-menu {
  background: hsla(213, 48%, 69%, 0.8);
}
#page-footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: hidden;
}
.page-link {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
.page-link a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
#page-footer-close {
  position: relative;
}
#page-footer-btn {
  position: absolute;
  bottom: 25px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color: #959192;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  cursor: pointer;
}
.page-btn-close span,
.page-btn-close span::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 18px;
  top: calc(50% - 9px);
  right: calc(50% + -2.5px);
  background-color: #fff;
  transform: rotate(-90deg);
  transition: 0.3s ease-out;
}
@media screen and (max-width: 768px) {
  .search_container {
    flex-direction: column;
  }
}

.search-box {
  /* position: absolute;
  top: 55%;
  left: 35%; */
  /* transform: translate(-50%, -50%); */
  background: rgb(32, 218, 203);
  height: 45px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  font-size: large;
}
.submit-box {
  /* position: absolute;
  top: 55%;
  left: 65%;
  transform: translate(-50%, -50%); */
  background: rgb(32, 218, 203);
  height: 45px;
  /* width: 50px; */
  border-radius: 40px;
  border-color: rgb(32, 218, 203);
  padding: 10px;
  font-weight: 800;
  font-size: medium;
}
.search-box:hover > .search-text {
  /* width: 240px; */
  padding: 0 6px;
}
.search-box:hover > .search-btn {
  background: none;
  align-items: center;
}
.search-btn {
  color: #e84118;
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: 0.4s;
}
.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 20px;
  /* transition: 0.4s; */
  line-height: 20px;
  width: 0px;
}
/* This is a style for menu_container */
.menu_container {
  position: absolute;
  top: 100px;
  /* position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  /* height: auto; */
  /* background-color: black; */
  background-image: url("./img/background2.jpeg");
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.box {
  width: 20%;
  height: 300px;
  background: rgb(32, 218, 203);
  opacity: 70%;
  margin: 20px;
  box-sizing: border-box;
  font-size: 30px;
  border-radius: 10%;
  text-align: center;
}

/* Adding responsive media quaries */

@media screen and (max-width: 1920px) {
  .nav-links {
    width: 60%;
  }
  .box {
    width: 40%;
  }
  .search-box {
    width: 20%;
  }
  .submit-box {
    width: 95%;
  }
  .search-text {
    width: 90%;
  }
  /* .recipe_finder {
    width: 100%;
  } */
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: none;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(32, 218, 203);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: tranform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0%;
  }
  .burger {
    display: block;
  }
  .box {
    width: 90%;
  }
  .search-box {
    width: 35%;
  }
  .submit-box {
    width: 35%;
  }
  .search-text {
    width: 90%;
  }
  .recipe_finder {
    width: 100%;
    flex-direction: column;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
